<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unovis Test</title>
  <style>
    .visuals {
      display: flex;
      flex-direction: column;
      
      .singleContainer {
        width: 500px;
        height: 500px;
      }

      .xyContainer {
        width: 1000px;
        height: 500px;
      }

      .legend {
        width: 500px;
        height: 100px;
      }
    }
  </style>
</head>
<body>
  <div class="visuals">
    <div class="singleContainer" unovis-component="SingleContainer" unovis-config-path="config.singleContainer" unovis-data-path="data.single"></div>
    <div class="xyContainer" unovis-component="XYContainer" unovis-config-path="config.xyContainer" unovis-data-path="data.xy"></div>
    <div class="legend" unovis-component="BulletLegend" unovis-data-path="data.legend"></div>
  </div>
</body>
</html>